@font-face {
  font-family: 'MyCustomFont';
  src: url('/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Αυτό κρατάει ΟΛΑ τα άλλα components ΠΡΑΣΙΝΑ */
:root {
  --brand-color: rgb(197, 224, 174);
}

body {
  font-family: 'MyCustomFont', sans-serif;
  background-color: var(--brand-color);
}