@font-face {
  font-family: 'GFS Jackson';
  /* Δοκίμασε με τελεία μπροστά, ώστε να ψάξει σχετικά με το CSS αρχείο */
  src: url('./font.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

/* Εφαρμογή της γραμματοσειράς σε όλο το site */
body {
  font-family: 'GFS Jackson', serif;
}